extends ../../commonViews/layout

append head-scripts
    script(src="javascripts/search.js")
    script.     
        documents = !{JSON.stringify(result)}

block content
    p.fs-1.p-4.font_color.d-flex.justify-content-center Поиск
    .row
        .col-12.pr-0
            #search-row-container
                #search-row
                    input#search-input(type="text", name="search-row", placeholder="Поиск по архиву", autocomplete="off", value= text || "").search-input
                    select(id="category", name="category").form-select.custom-select
                        option(value="default") По названию Фонда/Описи/Дела
                        option(value="subject_index") По предметному указателю
                        option(value="name_index") По именному указателю
                        option(value="epmk") По протоколу ЭПМК
                    input#search-button(type="button", value="Найти")
    .row
        #title-row-container
            .col-1.d-flex.justify-content-start.align-content-center
                span.p-2.fw-bold.font_color #
            .col-4.d-flex.justify-content-center.align-content-center
                span.p-2.fw-bold.font_color Название
            .col-4.d-flex.justify-content-center.align-content-center
                span.p-2.fw-bold.font_color Количество документов
            .col-3.d-flex.justify-content-center.align-content-center
                span.p-2.fw-bold.font_color Добавить в избранное
    .row
        #search-results
            if result
                each key, idx in Object.keys(result)
                    .doc-link
                        .col-1.d-flex.justify-content-start.align-content-center
                            span.p-2.fw-bold.font_color.document-idx= idx+1
                        .col-4.d-flex.justify-content-center.align-content-center
                            span.p-2.fw-bold.font_color.document-name(data-index= result[key].documents[0].index)= key
                        .col-4.d-flex.justify-content-center.align-content-center
                            span.p-2.fw-bold.font_color.document-count= result[key].documents.length
                        .col-3.d-flex.justify-content-center.align-content-center
                            span.p-2.fw-bold.font_color.add-remove-btn(title='Добавить')
        #view-window.d-none
            #doc-menu Закрыть
            #doc-name
                h1#doc-name-header Фонд 1/Опись 1/Дело 2
            #main-container
                #image-main-container
                    img#image-main(src="/images/0001 обложка.jpg")
                    #img-name 0003 л.2.jpg
                #image-carousel-container
                    img#top-carousel-btn.load-more(src="/images/top-btn.svg" dataset-prev=-1)
                    #image-carousel
                        ul#images
                            li
                                img.carousel-img(src="/images/0002 л.1.jpg")
                            li
                                img.carousel-img(src="/images/0003 л.2.jpg")
                            li
                                img.carousel-img(src="/images/0004 л.2об,3.jpg")
                    img#bot-carousel-btn.load-more(src="/images/bot-btn.svg" dataset-from=-6)

