extends ../../commonViews/layout

append head-scripts
    script(src="javascripts/search.js")

block content
    h1= title
    .row
        .col-12
            #search-row-container
                #search-row
                    input#search-input(type="text", name="search-row", placeholder="Поиск по архиву", autocomplete="off", value= text || "").search-input
                    select(id="category", name="category").form-select.custom-select
                        option(value="default") По названию Фонда/Описи/Дела
                        option(value="subject_index") По предметному указателю
                        option(value="name_index") По именному указателю
                        option(value="epmk") По протоколу ЭПМК
                    input#search-button(type="button", value="Найти")
    .row
        .col-12 
            #search-results
                if result
                    each key in Object.keys(result)
                        a.doc-link(href=`/document?id=${result[key].index}`)
                            div.document-name= key
                            div.document-count= result[key].documents.length
                            div.add-remove-btn(title='Добавить')
