extends ../../commonViews/layout

block content
    h1= title
    p Welcome to #{title}
    .row
        .col-12
            #search-row-container
                #search-row
                    input(type="text", name="search-row", placeholder="Поиск по электронному каталогу", autocomplete="off", value= requestText || "").search-input
                    select(id="category", name="category").form-select.custom-select
                        option(value="default") По названию Фонда/Описи/Дела
                        option(value="subject_index") По предметному указателю
                        option(value="name_index") По именному указателю
                        option(value="epmk") По протоколу ЭПМК
                    input#search-button(type="button", value="Найти")
