extends ../../commonViews/layout

block content
    .row.justify-content-center.m-0.p-0
        .col-10
            .container.p-0.m-0
                .row.justify-content-center.m-3
                    .col-12
                        h2.my-2.mx-1  По документам архивных фондов, перемещенных из аварийного здания Государственного архива Оренбургской области, возобновляется работа по исполнению запросов
                .row.justify-content-start.m-3
                    .col
                        .d-inline-flex.flex-row
                            i.bi.bi-calendar3.mx-1
                            h5.mx-1
                                em 28.05.2021
                            i.bi.bi-person-fill.mx-1
                            h5.mx-1
                                em admin
                .row.justify-content-center.m-3
                    .col
                        .d-inline-flex.flex-row
                            img.mx-1(src='images/nes1.jpg')
                            h4.mx-1.text-muted.text-justify В период с 17 по 21 мая 2021 года руководством ГБУ «ГАОО» совместно с комитетом по делам архивов Оренбургской области было осуществлено перемещение архивных документов из аварийного здания. По документам перемещенных архивных фондов с 31 мая 2021 года возобновляется работа по исполнению запросов, связанных  с подтверждением трудового стажа, размеров заработной платы и имущественного характера.
                .row.justify-content-start.m-3
                    .col
                        .d-inline-flex.flex-row
                            i.bi.bi-folder2.mx-1
                            h5.mx-1
                                em Новости, События
                        hr.mx-1
            .container.p-0.m-0
                .row.justify-content-center.m-3
                    .col-12
                        h2.my-2.mx-1  По документам архивных фондов, перемещенных из аварийного здания Государственного архива Оренбургской области, возобновляется работа по исполнению запросов
                .row.justify-content-start.m-3
                    .col
                        .d-inline-flex.flex-row
                            i.bi.bi-calendar3.mx-1
                            h5.mx-1
                                em 28.05.2021
                            i.bi.bi-person-fill.mx-1
                            h5.mx-1
                                em admin
                .row.justify-content-center.m-3
                    .col
                        .d-inline-flex.flex-row
                            img.mx-1(src='images/nes1.jpg')
                            h4.mx-1.text-muted.text-justify В период с 17 по 21 мая 2021 года руководством ГБУ «ГАОО» совместно с комитетом по делам архивов Оренбургской области было осуществлено перемещение архивных документов из аварийного здания. По документам перемещенных архивных фондов с 31 мая 2021 года возобновляется работа по исполнению запросов, связанных  с подтверждением трудового стажа, размеров заработной платы и имущественного характера.
                .row.justify-content-start.m-3
                    .col
                        .d-inline-flex.flex-row
                            i.bi.bi-folder2.mx-1
                            h5.mx-1
                                em Новости, События
                        hr.mx-1