body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #A77272;
}

.icon_custom {
    color: #FFFFFF;
}

.navbar-custom {
    background-color: #A77272;
}

.dropdown_custom {
    background-color: #A77272;
}